<div class="navbar fixed-top"></div>
<div class="main container">
  <div class="banner">
    <div class="banner-content">
      <div class="title">
        <h1>The screenings</h1>
      </div>
    </div>
  </div>
  <div class="container">
  <%= link_to "add a screening", new_screening_path, class:"btn" %>
    <% @screenings.each do |screening| %>
      <h2>@screening.film</h2>
      <%= link_to "", screening_path(screening), class:"card-link" %>
  <% end %>
  </div>
</div>
<% if policy(Screening).create? %>
  <%= link_to "New screening", new_screening_path %>
<% end %>