
<div class="container">

  <div class="card-trip">
    <img src="https://coleen-miclo.fr/img/portfolio/Architecture/ARCHITECTURE_LARGE_salon_moderne_3.jpg" />
    <div class="card-trip-infos">
      <div class="titre">
        <h1><strong>Egyptian Theatre</strong></h1>
        <p><strong>25M2</strong></p>
      </div>
    </div>
  </div>

  <div class="card-trip">
    <div class="flex-container">
      <div class="flex-item">...</div>
      <div class="flex-item">...</div>
      <div class="flex-item">...</div>
    </div>
  </div>

</div>


</div>



