/* Rectangle 11 */

position: absolute;
width: 108px;
height: 168px;
left: 347px;
top: 439px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;


/* 07/10 */

position: absolute;
width: 30px;
height: 13px;
left: 354px;
top: 586px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;
/* identical to box height */

color: #000000;



/* Oceans-11-12-13-Set 1 */

position: absolute;
width: 91px;
height: 130px;
left: 353px;
top: 452px;

background: url(Oceans-11-12-13-Set.jpg);


/* Rectangle 10 */

position: absolute;
width: 108px;
height: 168px;
left: 228px;
top: 439px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;


/* 02/10 */

position: absolute;
width: 30px;
height: 13px;
left: 235px;
top: 586px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;
/* identical to box height */

color: #000000;



/* HorsNormes 1 */

position: absolute;
width: 96px;
height: 130px;
left: 233px;
top: 452px;

background: url(HorsNormes.jpg);


/* Rectangle 9 */

position: absolute;
width: 108px;
height: 168px;
left: 109px;
top: 439px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;


/* 24/09 */

position: absolute;
width: 30px;
height: 13px;
left: 119px;
top: 586px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;
/* identical to box height */

color: #000000;



/* Mommy 1 */

position: absolute;
width: 93px;
height: 130px;
left: 116px;
top: 451px;

background: url(Mommy.jpg);


/* Rectangle 8 */

position: absolute;
width: 108px;
height: 168px;
left: -10px;
top: 439px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;


/* 18/09 */

position: absolute;
width: 30px;
height: 13px;
left: 0px;
top: 586px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;
/* identical to box height */

color: #000000;



/* Snatch */

position: absolute;
width: 92px;
height: 130px;
left: -3px;
top: 451px;

background: url(MV5BMjE1NDUxMTE1OF5BMl5BanBnXkFtZTYwNzIwNTQ5.jpg);


/* les séances que j'organise */

position: absolute;
width: 291px;
height: 58px;
left: 41px;
top: 378px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 30px;
text-align: center;

color: #000000;



/* Rectangle 12 */

position: absolute;
width: 108px;
height: 168px;
left: 362px;
top: 168px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;


/* 18/09 @Leslie */

position: absolute;
width: 40px;
height: 26px;
left: 369px;
top: 305px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;

color: #000000;



/* BBDriver */

position: absolute;
width: 84px;
height: 125px;
left: 371px;
top: 176px;

background: url(MV5BMjM3MjQ1MzkxNl5BMl5BanBnXkFtZTgwODk1ODgyMjI@.jpg);


/* Rectangle 7 */

position: absolute;
width: 108px;
height: 168px;
left: 243px;
top: 168px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;


/* 15/09 @Ryad */

position: absolute;
width: 35px;
height: 26px;
left: 250px;
top: 305px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Sel ou Poivre ? */

position: absolute;
width: 94px;
height: 129px;
left: 250px;
top: 174px;

background: url(L_Aile_ou_la_Cuisse.jpg);


/* Rectangle 6 */

position: absolute;
width: 108px;
height: 168px;
left: 124px;
top: 168px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;


/* 13/09 @Cassandra */

position: absolute;
width: 63px;
height: 26px;
left: 134px;
top: 305px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;

color: #000000;



/* kuzco */

position: absolute;
width: 96px;
height: 129px;
left: 130px;
top: 174px;

background: url(affiche-kuzco-empereur-megalo-01.jpg);


/* Rectangle 5 */

position: absolute;
width: 108px;
height: 168px;
left: 5px;
top: 168px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;


/* La révolution */

position: absolute;
width: 97px;
height: 129px;
left: 11px;
top: 173px;

background: url(19172614.jpg);


/* 08/09 @Maxime */

position: absolute;
width: 50px;
height: 26px;
left: 15px;
top: 305px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 11px;
line-height: 13px;

color: #000000;



/* Les séances où je vais */

position: absolute;
width: 291px;
height: 27px;
left: 41px;
top: 129px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 30px;
text-align: center;

color: #000000;



/* Rectangle 4 */

position: absolute;
width: 424px;
height: 103px;
left: -25px;
top: 0px;

background: #000000;


/* “Logo” Cine@Home */

position: absolute;
width: 291px;
height: 58px;
left: 42px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
